* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container_header {
    height: 10vw;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#header {
    font-size: 5vw;
    color: white;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 1rem 0 3rem 0;
    color: white;
}

.book__img {
    width: 70%;
    box-shadow: 10px 10px 5px black;
}

.book__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.book__tittle {
    font-size: 4vw;
    color:white;
}

.book__link1 {
    text-decoration: none;
    font-size: 3vw;
    color: white;
}

.book__link1:hover{
    text-decoration: underline;
}

.book__link2 {
    text-decoration: none;
    font-size: 2.5vw;
    color: white;
}

.book__link2:hover {
    text-decoration: underline;
}

#container_header, #book1 {
    background-color: rgb(54, 1, 11);
}
#book2 {
    background-color: rgb(15,97,72);
}
#book3 {
    background-color: rgb(10, 13, 52);
}
#book4 {
    background-color: rgb(4, 27, 55);
}
#book5 {
    background-color: rgb(111, 10, 56);
}
#book6 {
    background-color: rgb(114, 23, 39);
}
#book7, #footer {
    background-color: rgb(0, 95, 62);
}

#footer {
    font-size: 3vw;
    color: white;
    padding-left: 2vw;
}


